.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.btn-group button {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    width: 20%;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    background-color: #808080;
}

.btn {
    display: inline-block;
    padding: 6px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #008000;
}

.btn-primary:active {
    background-color: #008000;
    transform: translateY(4px);
}

.btn-danger {
    background-color: #f08080;
}

.btn-danger:hover {
    background-color: #ff0000;
}

.btn-danger:active {
    background-color: #ff0000;
    transform: translateY(4px);
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
}

.select-control {
    margin-bottom: 10px;
    position: inherit;
    background-color: #1e90ff;
    font-size: 18px;
    border-radius: 5px;
}